---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Renildo Paes" description="Sobre Renildo Paes">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre"
				tagline="Obrigado por visitar meu portifólio. Leia abaixo para saber mais sobre mim e minha formação."
			>
				<img
					width="1553"
					height="873"
					src="/assets/Streetfighter-V4.jpg"
					alt="Renildo Paes"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Biografia</h2>
				<div class="content">
					<p>
						Olá! Meu nome é Renildo Silva, sou Analista de Sistemas e Desenvolvedor Full Stack PHP. Atualmente, desempenho o papel de Analista de Sistemas
						na Siscon Engenharia e Consultoria, onde integro uma equipe responsável pelo desenvolvimento de um sistema estratégico
						para gerenciar a rede federal de estradas em parceria com o Departamento Nacional de Infraestrutura de Transportes (DNIT)
						na Coordenação Geral de Manutenção e Restauração Rodoviária (CGMRR/DIR).
					</p><br>
					<p>
						Minha paixão reside na análise e desenvolvimento de sistemas, com um interesse especial em projetos centrados nas linguagens de programação JavaScript e PHP.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						Sou proficiente em PHP, JavaScript (ECMA 6), Ajax, Microsoft SQL Server, Json, Jquery, Codeigniter 3, Laravel e React.js.
						Possuo habilidades sólidas em programação lógica, arquitetura de sistema e design de interface do usuário. Além disso,
						estou familiarizado com Bootstrap 5 e controle de versão (Git/GitHub).
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formação</h2>
				<div class="content">
					<p>Análise e Desenvolvimento de Sistemas <br> Anhanguera Educacional - FACNET (Janeiro de 2018 - Julho de 2020).</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
