---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Renildo Paes" description="Sobre Renildo Paes">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre"
				tagline="Obrigado por visitar meu portifólio. Leia abaixo para saber mais sobre mim e minha formação."
			>
				<img
					width="1553"
					height="873"
					src="/assets/portifolio-capa-principal-sobre.png"
					alt="Renildo Paes"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Sobre mim</h2>
				<div class="content">
					<p>
						Olá! Meu nome é Renildo Silva, sou Analista de Sistemas
						e Desenvolvedor Full Stack com mais de 3 anos de
						experiência em tecnologias PHP (Laravel), JavaScript
						(Next.js, TypeScript), e estilização com TailwindCSS e
						Bootstrap. Tenho sólida atuação em desenvolvimento de
						soluções estratégicas e escaláveis para o setor público
						e privado, com forte foco em qualidade de código,
						arquitetura limpa e entrega de valor ao usuário final.
					</p><br />
					<p>
						Atualmente, atuo como Desenvolvedor Sênior na Deep
						Defense, liderando projetos de cibersegurança, com
						responsabilidades que vão desde o planejamento e
						arquitetura técnica, até a gestão de equipes
						multidisciplinares e alinhamento estratégico com
						stakeholders e investidores. Com perfil colaborativo,
						busco constantemente a evolução técnica e o
						aprimoramento da equipe, entregando soluções com alta
						performance, segurança e usabilidade.
					</p><br />
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						Sou desenvolvedor com sólida proficiência em PHP,
						Laravel, Next.js, TypeScript, APIs RESTful, Microsoft
						SQL Server, jQuery, TailwindCSS e Docker, entre outras
						tecnologias modernas. Possuo habilidades avançadas em
						lógica de programação, arquitetura de sistemas e design
						de interfaces intuitivas e responsivas, com foco na
						experiência do usuário. Tenho familiaridade com controle
						de versão utilizando Git/GitHub, além de aplicar boas
						práticas de desenvolvimento, organização de código e
						colaboração em ambientes ágeis. Estou sempre em busca de
						aprimorar minhas habilidades e contribuir para a entrega
						de soluções eficientes, seguras e escaláveis.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formação</h2>
				<div class="content">
					<p>
						Análise e Desenvolvimento de Sistemas <br /> Anhanguera Educacional
						- FACNET (Janeiro de 2018 - Julho de 2020).
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
